# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Logs
logs
*.log

# OS
.DS_Store

# Env
.env
.env.*

# Build
/dist
/.next

# Yarn/Pnpm
.pnp.*
.yarn*
yarn.lock
pnpm-lock.yaml

# IDE
.vscode
.idea

# Docker
*.local

